.messages {
  padding: 20px;
  background: #f3f4fa;
  overflow-y: hidden;
  @media (max-width: 600px) {
    padding: 15px;
  }
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messages_list {
  padding: 0px 15px 0px 0px;
}