.messages {
  flex: 1 1 auto;
  padding: 20px;
  background: #f3f4fa;
  @media (max-width: 600px) {
    flex: 1 1 100%;
    height: 315px;
    padding: 15px;
  }
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messages_list {
  padding: 0px 15px 0px 0px;
}