.chat {
  flex: 0 1 100%;
  height: 100%;
  display: grid;
  align-items: stretch;
  grid-auto-flow: row;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 60px 1fr;
  overflow: hidden;
  border-radius: 3px;
  @media (max-width: 600px) {
    grid-template-rows: 60px minmax(auto, 140px) 1fr;
    grid-template-columns: auto;
  }
}