.users {
  padding: 20px;
  background: #3b56ff;
  overflow-y: hidden;
  @media (max-width: 600px) {
    padding: 15px;
  }
}
.body {
  height: 100%;
  @media (max-width: 600px) {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    grid-template-columns: auto auto;
    grid-template-rows: auto calc(100% - 30px);
    column-gap: 10px;
    grid-row-gap: 10px;
    row-gap: 10px;
  }
}
.current_room_shell {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0px 0px 15px 0px;
  margin: 0px 0px 15px 0px;
  @media (max-width: 600px) {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
.current_room {
  font-size: 16px;
  color: #fff;
  margin: 0px 0px 0px 5px;
}
.total_users_online_shell {
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 0px;
  img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  @media (max-width: 600px) {
    grid-column: 2 / 3;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
.total_users_online {
  font-size: 16px;
  color: #fff;
  margin: 0px 0px 0px 5px;
}
.users_list_shell {
  height: calc(100% - 82px);
  @media (max-width: 600px) {
    height: 100%;
    grid-column: 1 / 3;
  }
}
.users_list {
  padding: 0px 12px 0px 0px;
}