.users_item {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 8px 12px;
  background: linear-gradient(270deg, rgb(24, 57, 255), rgb(9, 25, 128));
  &:not(:last-child) {
    margin: 0px 0px 5px 0px;
  }  
}
.users__name {
  font-weight: 600;
  color: #fff;
  line-height: 115%;
}