.body {
  width: 430px;
  padding: 40px 30px;
  border-radius: 8px;
  background: #fff;
}
.top {
  background: #fff;
  margin: 0px 0px 15px 0px;
}
.content_shell {
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    display: block;
    width: 80px;
    height: 80px;
  }
}
.form_login {
  width: 100%;
}
.room_shell {
  &:not(:last-child) {
    margin: 0px 0px 12px 0px;
  }
}
.name_shell {
  &:not(:last-child) {
    margin: 0px 0px 12px 0px;
  }
}
.come_in_shell {}