.messages__item {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  padding: 10px 8px;
  background-color: #e1e5ff;
  border-radius: 3px;
  &:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}
.author {
  font-size: 14px;
  color: #6060ff;
}
.message {
  font-weight: 400;
  line-height: 120%;
  color: #000;
}